body{
    font-family: Roboto;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex: 0 0 auto
}

.links{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    gap: 1em;
}

.content{
    display: flex;
    justify-content: center;
    gap: 3em;
}

.left{
    display: flex;
    flex-direction: column ;
}

.image{
   padding: 3em 6em; 
   background-color: lightgrey;
}

#butone{
    flex: 0 0 3em;
    padding: .5em;
    max-width: 100px;
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
}

.header{
    background-color: #1f2937;
    padding: 5px 200px 20px 200px;
}

h1{
    font-size: 48px;

}

h1,
h2{
    font-weight: 900;
    color: #F9FAF8; 
}

.links,
.right{
    font-size: 18px;
    color: #e5e7eb;
}

/* Header above, two below */

.two{
    padding: 5px 200px 20px 200px;
}

#text{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.cardbox{
    display: flex;
    justify-content: center;
    gap: 3em;
    flex: 0 1 10px;
}

.box{
    padding: 10px;
    border: 2px solid blue;
    height: 100px;  
    border-radius: 8px; 
}

.box,
.info{
    width: 100px;
}

.info{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

/* Two above, quote below */

.quote{
    padding: 70px 200px 70px 200px;
    background-color: #E5E7EB;  
    }

.text{
font-size: 36px;
color: #1f2937;
font-style: italic;
}

.by{
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}
/* Quote above, call below */

.call{
    padding: 5px 200px 20px 200px;
}

.bluebox{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    padding:40px ;
    color: white;
}

#one{
    font-size: 24px;
    font-weight: 700; 
    margin: 0;
}
#two{
    font-size: 16px;
    margin: 0;
}
#buttwo{
    padding: 5px 30px;
    background-color: blue;
    border: solid white;
    border-radius: 8px;
    color: white;
    
    
}