body{
    font-family: Roboto;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex: 0 0 auto
}

.links{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    gap: 1em;
}

.content{
    display: flex;
    justify-content: center;
    gap: 3em;
}

.left{
    display: flex;
    flex-direction: column ;
}

.image{
   padding: 3em 6em; 
   background-color: lightgrey;
}

button{
    flex: 0 0 3em;
    padding: .5em;
    max-width: 100px;
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
}

.header{
    background-color: #1f2937;
    padding: 5px 200px 20px 200px;
}

h1{
    font-size: 48px;

}

h1,
h2{
    font-weight: 900;
    color: #F9FAF8; 
}

.links,
.right{
    font-size: 18px;
    color: #e5e7eb;
}

/* Header above, two below */

.two{
    padding: 5px 200px 20px 200px;
}

p{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.cardbox{
    display: flex;
    justify-content: center;
    gap: 3em;
    flex: 0 1 10px;
}

.box{
    padding: 10px;
    border: 2px solid blue;
    height: 100px;  
    border-radius: 8px; 
}

.box,
.info{
    width: 100px;
}

.info{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}